useDynLib(mshmm)
import(survival, parallel)
importFrom(Matrix, expm)
importFrom(mvtnorm, dmvnorm)
importFrom(quadprog, solve.QP)
importFrom(mvtnorm, rmvnorm, dmvnorm)
importFrom(stats, model.extract, model.response, model.matrix, model.weights,
           model.frame, na.pass, na.omit, terms, cov, sd, dnorm, rnorm, runif,
           delete.response, coef, printCoefmat, naprint, .getXlevels,
           dlogis, plogis, pnorm, logLik, dbeta, dgamma, dexp, terms.formula,
           reformulate, update.formula)
importFrom(graphics, matplot, matpoints, matlines)
importFrom(graphics, frame, par, segments, text)
export(cmsh, survexpm)
export(mcmc0, mcmc1, pade, hmmscore)
export(ptplot, qplus, noworse)
export(survexpm, hmmeigen)
S3method("[",   pstate.cmsh)
S3method(coef,  cmsh)
S3method(dim, pstate.cmsh)
S3method(lines, pstate.cmsh)
S3method(logLik, cmsh)
S3method(model.matrix, cmsh)
S3method(model.frame, cmsh)
S3method(plot, pstate.cmsh)
S3method(predict, cmsh)
S3method(print, cmsh)
S3method(points, pstate.cmsh)
